<div class="row">
    <div class="large-12 columns">
        <div class="callout panel radius">
            <p><strong>{{name}}</strong>{{#if tagline}}<br/>{{/if}}{{tagline}}</p>
            <div class="row">
                <div class="large-3 medium-6 small-12 columns">
                    <p>Price: {{showPrice price}}</p>
                </div>
                <div class="large-3 medium-6 small-12 columns">
                    <p>Rating: {{showRating rating}}</p>
                </div>
                <div class="large-6 medium-12 small-12 columns">
                    <p>Address: {{address}}</p>
                </div>
            </div>
            <p>Description: {{description}} </p>
            <div class="availableTimes">
                <form>
                    <fieldset>
                        <legend>Available Times</legend>
                        <div class="row">
                            {{#each availableTimes}}
                            <div class="large-3 medium-4 small-6 columns availableTime">
                                {{#link-to 'reservationForm' this}}{{showTime this}}{{/link-to}}
                            </div>
                            {{/each}}
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="reservationForm">{{outlet}}</div>
        </div>
    </div>
</div>